.p {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.p-c {
    overflow: hidden;
    border: 1px solid rgb(243, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 40vh;
    margin: 20px 5px;
}

.p-img {
    width: 100%;
    transition: all 1s ease;
}

.p:hover .p-img {
    transform: translateY(-30%);
    filter: opacity(.1);
}

.p-proyect {
    position: relative;
}

.p-proyect:hover > .p-link {
    display: block;
}


.p-link{
    position: absolute;
    top: 50px;
    display: none;
    width: 100%;
}

.p-link a{
    display: inline-block;
    margin: 5%;
}


.p-img-icon{
    width: 90px;
}

.p-repo {
    background-color: rgb(243, 242, 242);
    width: 100%;
}



@media screen and (max-width: 480px) {
    .p-c {
        width: 90%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        
    }

    .p-repo {
        display: none;
    }
}